py-data-juicer
fsspec==2023.5.0
pandas==1.5.3
datasets==2.19.0
pyarrow
numpy==1.26.4
av
soundfile
librosa
loguru
tabulate
tqdm
jsonargparse[signatures]
matplotlib
seaborn
emoji==2.2.0
regex
requests
wget
zstandard
lz4
pdfplumber
plotly
python-docx
streamlit
spacy
multiprocess==0.70.12
dill==0.3.4
psutil
httpx
ray
wordcloud
opencc==1.1.9
kenlm>=0.3.0
torch==2.5.1
safetensors==0.5.3
tokenizers==0.21.0
transformers==4.47.1
